canvas{
	width:100%;
	background:black;
}

body,html{
	height:100%;
	margin: 0px;
}

/*// var keyData={
	// 	a :{
	// 		color:"purple";
	// 		sounds:new Howl({
	// 		src:['E:/Projects/Praratap/sounds/bubbles.mp3']})
	// 	},
	// 	s:{
	// 		color:"green";
	// 		sounds:new Howl({
	// 		src:['E:/Projects/Praratap/sounds/clay.mp3']})
	// 	},
	// 	d:{
	// 		color:"yellow";
	// 		sounds:new Howl({
	// 		src:['E:/Projects/Praratap/sounds/confetti.mp3']})
	// 	}
	// }

*/